.writing-item {
    position: relative;
    padding: 40px 50px 40px 95px;
    z-index: 1;
    margin-bottom: 30px;
    transition: 0.3s linear;
    transform: translateY(0);
}

.writing-item:hover {
    transform: translateY(-4px);
}

.writing-shape {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.writing-icon {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: linear-gradient(51deg, #c8bdff -31.69%, #baa6ff -22.78%, #6721ff 27.93%, #00cbff 99.79%);
    font-size: 26px;
    color: white !important;
    position: absolute;
    left: 0;
    top: 11px;
    z-index: 1;
    transition: 0.3s linear;
    transform: rotateY(0);
}

.writing-icon::before {
    content: "";
    position: absolute;
    left: 2px;
    right: 2px;
    top: 2px;
    bottom: 2px;
    border-radius: 50%;
    background: #331a5d;
    z-index: -1;
}
